<section class="welcome">
  <h2>About Us!</h2>
  <p>
    We are a totally fake company that was made up by our founder, Matt Herron.  Matt is a dreamer.  He is constantly trying to make up stories instead of using a simple Lorem Ipsum text that is generated with ease.
  </p>
  <p>
    Space Ship Enterprises was founded for the sole purpose of creating a context for the Ruby Sinatra weekend reps project.  This company allowed the founder, Matt Herron, to get much needed practice with generating Sinatra pages and routes to his website as per the requirements of the assignemt that he created in this exercise.  It is imperative that Matt continue his quest to create new things and begin to help the world find their new place in life.  This text really is rambling on and on and on.  I will make sure to cut it off very soon.
  </p>
</section>
<hr>
<section class="thanks">
  <h3>Special thanks needs to go to the following individuals:</h3>
  <p>
    These people put in lots of effort into the program.  They are members of the Faker community and they magically appear in random order somehow.  It is quite a feat to see them just automatically display in front of everybody.  Please make sure to tip ypur bartenders at the events in their honor.
  </p>
  <ul>

  </ul>
</section>
