<section class="careers">
  <article class="welcome">
    <h2>Find a Career that puts YOU in the drivers seat!</h2>
    <p>
      We are constantly looking for the brightest minds in the industry for helping us build the fastest space ships in the world.  You will love working in the industry and the perks are out of this world!  We have great benefits and are the fastest growing space company after Space X went out of business 7 years ago.  We will hold your hand and make you feel right.  We will make sure that you are supported in every idea that you bring to the table.  You are something to value in the business and we want to get you excited to work here!
    </p>
  </article>
  <hr>
  <article class="career">
    <h3>Lead Space Hardware Engineer</h3>

    <p>
        As the lead space hardware guy you will be told what to do on a regular basis.  You will need to have a tough spirit because you will be the most valuable resource the company has and you will work harder than everyone else.  But the good news is that you will be working at the most innovative company this side of the Mississippi! That's right we are in the USA and we sill believe there is a space race to win and you will be a part of that space race.  Let's win this thing together!
    </p>
    <p>
      <a href="#">Apply Now</a>
    </p>
  </article>
  <article class="career">
    <h3>Lead Space Ship Janitor</h3>

    <p>
        This is one of the most grueling jobs we have to offer.  You will be cleaning up the space ships that go on the rental flights.  The customers are usually partying pretty hard on these cruises as you can imagine.  This means that we have less than an hour to get the ships back up to par and feeling good again.  You will need to feel out the bathrooms and the kitchen as part of your janitorial duties and should know your way around the cockpit but only if someone blows chunks up there.  Sometimes we let the drunkest chief execututives play with the controls.
    </p>
    <p>
      <a href="#">Apply Now</a>
    </p>
  </article>
  <article class="career">
    <h3>Spaceship Exploration Coordinator</h3>

    <p>
        Now if you get this job you are the luckiest person alive.  We typically only hire women for this job because it really takes someone with a level head.  I am telling you, not everyone is able to do this job.  You will be coordinating our scientific explorations to the moon and to the sun.  You will be negotiating the contracts with the big government bosses trying to get to the newest things in life and trying to head off the various problems and issues that arise with this type of a project.  You need to really have a level head because government big shots all want to  prove to the universe that their ideas are the biggetst, brightest and best in the world.  You should make sure that you are prepares for this kind of job.
    </p>
    <p>
      <a href="#">Apply Now</a>
    </p>
  </article>

</section>
