<section class="welcome">
  <h2>Welcome to Space Ship Enterprises!</h2>
  <p>
    The place where all your dreams come true.  This is a way for the modern enthusiast to ren a space ship and fly it for a low price at any time they want to.  We are in the business of making dreams come true.  Our Star Wars Package is the greatest value in existence.  Fly an X-Wing Fighter in the battle for Hoth against the evil empire and thier cohorts.  You will never have an adventure like this anywhere else.  It is a once in a lifetime chance to live your dreams and fly high!
  </p>
</section>
<hr>
<sections class="features">
    <article class ="feature">
      <h3>Space Ship 1</h3>
      <img src="https://projects.vrac.iastate.edu/REU2011/wp-content/uploads/2011/05/razzo4.jpgf19697d0-4e61-437f-878e-8e00036e8497Larger-300x300.jpg" alt="" />
    </article>
    <article class ="feature">
      <h3>Space Ship 2.R</h3>
      <img src="http://i1-news.softpedia-static.com/images/news2/Boeing-Spaceship-for-Private-Space-Transportation-2.jpg" alt="" />
    </article>
</sections>
<section class="promo">
  <a href="/home">Act now</a>Act now and get 50% off your first space ship rental!
</section>
