<section class="welcome">
  <h2>Our Services Will Leave Your Breath Taken!</h2>
  <p>
    This is the best part of our website.  It is the place where dreams are made every single day and every night.  This is a land of makebelieve.  But it isn't fake! It is totally real!  We will show you around, make you feel comfortable and we promise that we will NEVER NEVER EVER use Lorem Ipsum here.  Only the most beautiful content will be created for your space exploration needs.  I assure you that you will feel right at home with these amazing services.
  </p>
</section>
<hr>
<section class="services">
  <article class="service">
    <h3>Ship Building</h3>
    <img src="http://www.wantedbricks.com/wp-content/uploads/2014/09/Laser-Pegs-24-in-1-Spaceship-Building-Set-0-1-300x300.jpg" alt="" />
    <p>
      We will take on your craziest space ship building process and show you how its done.  Our technicians are the best in the industry.  We specialize in the fastest ships in the galaxy with the most fuel on board of any ship which means that you will be exploring the galaxy and beyond it in no time at all.  You need to eat, breath and sleep ship building if you expect to compete with us.  We are the best in the industry and we will show you how its done.
    </p>
  </article>
  <article class="service">
    <h3>Ship Rentals</h3>
    <img src="http://spaceship.brainiac.com/MiniModelMadness/ColonialShuttle.jpg" alt="" />
    <p>
      You know you want to drive one of these puppies!  Now is your chance.  We have built the fastest fleet in the galaxy with the highest altitudes in the industry.  No one can top our quality and our committment to excellence.  You will be taken aback when you get behind the wheel of one of these bad boys and fly into the distance with nothing but a helmet and boots on.  This is a very amazing experience.  You will find easter eggs on board all of our ships so that you can explore the wonders of nature.
    </p>
  </article>
  <article class="service">
    <h3>Space Exploration</h3>
    <img src="http://www.daviddarling.info/images/SpaceShipOne_4.jpg" alt="" />
    <p>
      We contract with governments to bring a new kind of thinking to the space exploration thing.  Governments can hire us to explore the farthest reaches of the galaxy to find new life and new resources or just get the scientific exploration thing going so that man can continue to learn at his own pace.  You should be loving what we are capable of with this sort of exploration.  Feel free to let us know what you think of all of this science stuff.  We will help you along for sure.
    </p>
  </article>
</section>
