<section class="welcome">
  <h2>Choose Your Adventure Ship</h2>
  <p>
    Let's get right to it! Its time to send you off on an adventure and blast off in your fantastic ship of glory.  Choose wisely or you are gonna have a bad time.  We don't want anyone to have a bad time here at the space ship ranch.  Only good times aree allowed!
  </p>
</section>
<section class="ships clearfix">

</section>
